DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE=cats-store
DATABASE_HOST=localhost
ACCESS_PRIVATE_KEY=test
ACCESS_EXPIRES_IN=12h
REFRESH_PRIVATE_KEY=test1
REFRESH_EXPIRES_IN=10d
APP_PORT=4000
DOCS_URL=/api/docs
GRAPH_URL=/graph
REDIS_URL=localhost:6379
IMAGE_PATH=images