DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE=cats-store
DATABASE_HOST=localhost
PRIVATE_KEY=test
APP_PORT=4000
DOCS_URL=/api/docs
GRAPH_URL=/graph
REDIS_URL=localhost:6379
IMAGE_PATH=images